# Git
.git
.gitignore

# Python y entornos virtuales
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuraciones locales que no deben sobreescribirse si existen volúmenes
jarvis/.env
.ollama-models/

# Otros
.idea/
.vscode/
*.swp
*.swo

# Nodejs
www/node_modules
www/dist
