# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Local secrets / config
jarvis/.env
.env

# Logs
*.log

# Editor / OS
.DS_Store
.idea/
.vscode/

# Models
.ollama-models

# Nodejs
jarvis/www/node_modules

# Vite
jarvis/www/dev-dist
